id ICON "TechKnow.ico"

1 VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "www.TechKnow.one"
      VALUE "FileDescription", "EHVSN Challenge #3"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "C++ wrapper"
      VALUE "LegalCopyright", "Stephan 2017"
      VALUE "OriginalFilename", "EHVSN_Challenge3.exe"
      VALUE "ProductName", "Uberizer"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
